@use "./assets/sass/_variables.scss" as *;

.app {
  background-color: rgb(120,160,154);
  background-color: radial-gradient(circle, rgba(120,160,154,1) 5%, rgba(166,220,212,1) 61%);
  height:1000px;

  .container {
  display: block;
  margin: 10px auto 20px auto;
  height: min-content;
  width: 90%;
  background-color: $color-black;
  border-radius: 20px;
  box-shadow: 16px 16px 16px 7px rgb(0 0 0 / 30%), 5px 15px 20px 7px rgb(132 125 125 / 19%);

  &__cardList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
  }

}
}





@media screen and (min-width: 992px) {
  .app {
    max-width: 1200px;
    margin: 0 auto;
 

    .container {
      width: 1000px;

      &__cardList {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
    }
  }
}
