@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

$font-family: "Kanit", sans-serif;
$primary-color: rgb(168, 228, 232);
$secondary-color:rgb(243, 145, 7);
$color-black: rgb(31, 27, 27);
$color-white:rgb(232, 232, 232);
